body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  input {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button.del {
    background-color: red;
    font-size: 15px;
    padding: 4px;
  }
  
  button.del:hover {
    background-color: red;
  }
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.card {
  width: 20%;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  display: block;
  height: 200px;
  object-fit: cover;
}

.info {
 padding: 10px;
}